# --- AJOUTS SPECIFIQUES PROJET GEOLAB ---

# Ignorer le dossier de données (car > 100Mo et téléchargé automatiquement par le script)
data/

# Ignorer les fichiers géographiques s'ils sont à la racine
*.tif
*.tiff
*.gpkg
*.aux.xml

# Ignorer les configurations VS Code locales
.vscode/

# Ignorer les secrets Streamlit
.streamlit/secrets.toml

# Ignorer les images temporaires ou exportées
*.png
!sauer_logo.png
